*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif   ;
    box-sizing: border-box;
}
body{
    background-image: url("https://t3.ftcdn.net/jpg/17/66/68/80/360_F_1766688079_moaQb8R9MrDZgjyFliqHNAep34tDvAbK.jpg");
    background-size: cover;
    height: 100vh;
}

.container{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border:3px solid #457F73;
}

.container p{
    font-weight: 750;
    font-size: 25px;
    margin-bottom: 8px;
    color: #457F73;
}

.container input{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 2px solid #457F73;
    outline: none;
    margin: 10px 0 20px;
    color: #333;
    border-radius: 5px;
    font-size: 15px;
    background-color: #FFFFFF70;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.container button{
    width: 100%;
    height: 50px;
    background: #457F73;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0l 0.1);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 700;
    font-size: 15px;
    transition: 1s;
}
.container button:hover{
    transform: scale(1.05);
    transition: 1s;
    filter: brightness(1.1);
}

#imgBox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s;
}

#imgBox img{
    width: 100%;
    padding: 10px;
}

#imgBox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}

.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform: translate(0);
    }
    25%{
        transform: translate(-2px);
    }
    50%{
        transform: translate(0);
    }
    75%{
        transform: translate(2px);
    }
    100%{
        transform: translate(0);
    }
}